/* font links  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* universal styles  */

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
section{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

 /* top section styles */

 .top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    
    color: white;
    border-radius: 30px;
 }
 .banner-text,.banner-image{
    width: 45%;
 }
 .banner-heading{
    font-size: 3em;
    margin: 20px 0;
 }
 .button{
    background-color: rgb(255, 64, 47);
    width: fit-content;
    padding: 10px 20px;
    margin:20px 0;
    border-radius: 7px;
 }
 .button>a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 700;
 }
 .button>a>p{
    margin-left: 5px;
 }
                  /* button animation  */

@keyframes sliding {
   0%{
      background-image: linear-gradient(90deg,red,tomato);
      padding-right: 15px;
      transform: scale(0.97);
   }
   50%{
      background-image:linear-gradient(90deg,tomato,red);
      padding-right: 25px;
      transform: scale(1);
   }
   100%{
      background-image: linear-gradient(90deg,red,tomato);
      padding-right: 15px;
      transform: scale(0.97);
   }
}
.top-banner .button{
   animation: sliding 0.8s ease 0s infinite alternate;
}


 .banner-image>img{
    width: 100%;
 }

                /* middle section styles  */
.middle-section{
   display: flex;
}
         /* aside section  */

aside{
   width: 300px;
}
.top-links{
    background-color:rgb(35, 35, 35) ;
    padding: 30px;
    border-radius: 10px;
}
.links{
    margin: 20px;
    padding: 20px 30px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.links>a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: black;
}
#special-link{
   background-color: rgb(255, 64, 47);
   color: white;
}
#special-link>a{
   color: white;
}
         /* blog grid section  */
.grid-blogs{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 40px;
   margin: 0 auto;
   margin-left: 30px;
}
.blog{
   box-shadow: 5px 5px 10px gainsboro;
   border-radius: 10px;
}
.blog-thumbnail>img{
   width: 100%;
   border-radius: 10px;
}

.transfar{
   border: 1px solid black;
   border-radius: 5px;
   width: fit-content;
   padding: 7px 20px;
   margin: 15px 15px;
}
.blog-text{
   font-size: 20px;
   font-weight: 700;
   margin-left: 15px;
}
.blog-icons,.time,.comment{
   margin-top: 10px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.time,.comment{
   width: 15%;
   margin-left: 15px;
   justify-content: space-between;
}
.extra-button{
   display: none;
}

            /*  footer style  */

footer{
   background-color: rgb(35, 35, 35);
   text-align: center;
   margin-top: 50px;
   color: white;
}
footer>h2{
   font-size: 35px;
   padding: 30px;
}
hr{
   border: 1px solid rgb(78, 78, 78);
   width: 80%;
   margin: 0 auto;
}
.footer-items,.footer-icons{
   display: flex;
   justify-content: center;
}
.footer-items>p{
   margin: 20px;
}
.footer-icons>p{
   font-size: 30px;
   padding: 20px 30px;
}

   /*----------------
        ----------- media queries-----------
                               --------------  */

                   /* mobile devices */

@media only screen and (max-width:688px) {
   section{
      width: 100%;
   }
     /* top section  */
   .top-banner{
      flex-direction: column;
   }
   .banner-text,.banner-image{
      width: 90%;
   }
   .banner-heading{
      font-size: 2em;
      margin: 20px 0;
   } 
   .banner-details{
      width: 80%;
      height: 57px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
                /* middle section  */
   .middle-section{
      flex-direction: column;
   }
   aside{
      width: 100%;
   }
   .top-links{
      width: 60%;
      margin: 0 auto;
   }
   .links{
      padding: 10px;
   }
   .links>a{
      font-size: 1em;
   }
   .grid-blogs{
      grid-template-columns: 1fr;
      margin: 0 auto;
      margin-top: 40px;
   }
   .extra-button{
      display: none;
   }
   .footer-items{
      flex-direction: column;
   }
}

                     /*||tablet devices|| */

@media only screen and (min-width:689px) and (max-width:992px) {

            /* ||middle section||  */


   .middle-section{
      flex-direction: column;
      align-items: center;
   }
   .top-links{
      background-color: white;
      display: flex;
      justify-content:center ;
      align-items: center;
      padding: 0;
   }
   aside{
      width: 100%;
   }
   .links{
      border: 1px solid black;
      border-radius: 10px;
      padding: 15px 10px;

   }
   .grid-blogs{
      grid-template-columns: repeat(2,1fr);
      margin: 0 auto;
      margin-top: 40px;
   }
   .grid-blogs>.blog:last-child{
      display: none;
   }
   .extra-button{
      display: block;
      margin-top: 25px;
   }
   .extra-button>.button{
      padding: 15px 30px;
      font-size: 1.3em;
   }
   .footer-items{
      width: 70%;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
   }
}